[Unit]
Description=packman - StepMania pack manager
After=graphical.target
Wants=graphical.target

[Service]
Type=oneshot
EnvironmentFile={{ packman_dir }}/packman_env
ExecStart=/usr/local/bin/packman
RemainAfterExit=yes
User=stepmania
Group=stepmania

[Install]
WantedBy=graphical.target
